.create-review-box{
    width: 50%;
    left: 25%;
}
.reviews{
    display: flex;
    flex-direction: column;
}
.reviews-container{
    width: 100%;
    left: 50%;
}
.date{
    color: white;
}
.synopsis{
    border-bottom: solid 1px white;
    font-weight: bolder;
}