  .searched-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    width: 80%;
    margin-left: 10%;
  }
  
  .movie-card {
    width: 100%;
    max-width: 200px;
  }
  
  .no-movies-found {
    font-size: 18px;
    color: #888;
    margin-top: 20px;
  }
  